.pic-style {
  /* padding: 5px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  transition-duration: 2s;
  transition: 0.7s;
  /* height: 400px; */
  overflow: hidden;
}

.pic-style:hover {
  transform: scale(1.1);
  overflow: hidden;
}